.container[b-jbkxzootup] {
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.container div[b-jbkxzootup] {
    align-content: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.container input[type=number][b-jbkxzootup] {
    appearance: textfield;
}

.container input[b-jbkxzootup]::-webkit-outer-spin-button, input[b-jbkxzootup]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.container input[b-jbkxzootup] {
    font-size: 28px;
}

.container select[b-jbkxzootup] {
    font-size: 28px;
    width: 400px;
}

.title[b-jbkxzootup] {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

.error[b-jbkxzootup] {
    font-size: 24px;
    text-align: center;
    color: red;
}

.label[b-jbkxzootup] {
    font-size: 18px;
    margin: 0px;
}