main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.topnav {
    width: 100%;
    overflow: auto;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #4040ff;
    text-decoration: none;
    font-size: 22px;
    transition: 0.1s;
}

/* Navbar links on mouse-over */
.topnav a:hover {
    color: #ffffff;
    transition: 0.1s;
}

/* Current/active navbar link */
.topnav .active {
    color: #a0a0ff;
}

.topnav-right {
    float: right;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.bottomnavbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.bottomnavbar a {
    float: left;
    display: block;
    color: #158eea;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    transition: 0.1s;
}

.bottomnavbar a:hover {
    color: white;
    transition: 0.1s;
}

main {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-content: safe center;
    align-items: safe center;
    justify-content: safe center;
}

.infoBox {
    width: 75vw;
    height: 50vh;
    margin-left: 12.5vw;
    margin-right: auto;
    gap: 20px;
    display: inline-flex;
    flex-direction: column;
    align-content: safe center;
    justify-content: safe center;
    align-items: safe center;
    border: 5px solid gray;
}

.infoField {
    resize: none;
    font-size: 28px;
    border-color: white;
    border-style: solid;
    color: white;
    background-color: #00000000;
    border-radius: 8px;
    padding: 15px;
}

.form {
    width: 75vw;
    width: 50vh;
    align-content: safe center;
    justify-content: safe center;
    align-items: safe center;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.form div {
    align-content: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.form input {
    font-size: 28px;
    width: 400px;
    height: 50px;
    border-color: white;
    border-style: solid;
    color: white;
    background-color: #00000000;
    border-radius: 8px;
    padding: 15px;
}

.form textarea {
    resize: none;
    width: 400px;
    height: 100px;
    font-size: 28px;
    border-color: white;
    border-style: solid;
    color: white;
    background-color: #00000000;
    border-radius: 8px;
    padding: 15px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.error {
    font-size: 36px;
    text-align: center;
    color: red;
}

.label {
    font-size: 28px;
    margin: 0px;
    color: #8080ff;
}

.navItem {
    font-size: 24px;
    transition: 0.1s;
    width: 12vw;
    height: 6vh;
    border-radius: 100vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

input[type=date] ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.navItem:hover {
    background-color: #8080ff;
    color: #000080;
    border-color: #000080;
    transition: 0.1s;
}

.back {
    font-size: 24px;
    transition: 0.1s;
    width: 5vw;
    height: 5vh;
    border-radius: 100vh;
}

.back:hover {
    background-color: #8080ff;
    color: #000080;
    border-color: #000080;
    transition: 0.1s;
}

.projectNav {
    margin-top: 10vh;
    width: 80vw;
    height: 10vh;
    margin-left: 10vw;
    margin-right: auto;
    gap: 20px;
    display: inline-flex;
    flex-direction: row;
    align-content: safe center;
    justify-content: safe center;
    align-items: safe center;
    border: 5px solid white;
    overflow-x: scroll;
    overflow-y: hidden;
}

.project {
    width: 80vw;
    height: 60vh;
    margin-left: 10vw;
    margin-right: auto;
    gap: 2vh;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    display: inline-flex;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 1vh;
}

/*Task List and Task section*/
.taskList {
    margin-top: 1vh;
    width: 78vw;
    height: 38vh;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 1vh;
    gap: 1vh;
}

.taskListTop {
    font-size: 36px;
    width: 74vw;
    height: 4vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: inline-flex;
    flex-direction: row;
    gap: 64vw;
}

.taskListTasks {
    width: 75vw;
    height: 40vh;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    border: 5px solid white;
    border-radius: 1vh;
    overflow-x: scroll;
}

.dots {
    transition: color 0.1s;
}

.dots:hover {
    color: blue;
}

.createTaskList {
    margin-top: 1vh;
    width: 78vw;
    height: 38vh;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    display: inline-flex;
    flex-direction: column;
    border-radius: 1vh;
    align-content: center;
    justify-content: center;
    gap: 1vh;
}

.createTaskListLabel {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 24px;
}

.createTaskListInput {
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    width: 50vw;
    min-height: 5vh;
    max-height: 10vh;
}

.createTaskListButton {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    text-align: center;
    font-size: 36px;
    width: 20vw;
    height: 12vh;
    background-color: #a0a0ff;
    color: white;
}

.createTaskListButton:hover {
    background-color: #a0a0ff80;
}

.task {
    margin-top: 1vh;
    width: 25vw;
    height: 25vh;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 1vh;
    gap: 1vh;
}

.taskTop {
    display: inline-flex;
    flex-direction: row;
    font-size: 36px;
    color: white;
    gap: 15vw;
    width: 23vw;
    height: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.taskSub {
    display: inline-flex;
    flex-direction: row;
    gap: 15vw;
    width: 23vw;
    height: 4vh;
    margin-left: auto;
    margin-right: auto;
}

.taskSubPfp {

}

.taskSubDays {
    font-size: 36px;
    color: white;
}

.taskDescription {
    font-size: 36px;
    background-color: transparent;
    color: white;
    width: 23vw;
    height: 16vh;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.taskDescription::selection {
    border: none;
}

.createTask {
    margin-top: 1vh;
    width: 25vw;
    height: 25vh;
    margin-left: 1vw;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 1vh;
    gap: 1vh;
    position: relative;
}

.createTaskTop {
    display: inline-flex;
    flex-direction: row;
    font-size: 36px;
    color: white;
    gap: 1vw;
    width: 23vw;
    height: 4vh;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.createTaskSub {
    margin-top: 1vh;
    display: inline-flex;
    flex-direction: row;
    gap: 1vw;
    width: 23vw;
    height: 4vh;
    margin-left: auto;
    margin-right: auto;
}

.createTaskLabel {
    font-size: 24px;
    color: white;
    margin-left: 1vw;
}

.createTaskName {
    font-size: 20px;
    max-height: 3vh;
    width: 10vw;
}

.createTaskDescription {
    font-size: 20px;
    max-height: 6vh;
    width: 23vw;
    margin-left: 1vw;
}

.createTaskDate {
    font-size: 20px;
    width: 10vw;
    max-height: 6vh;
    margin-right: 1vw;
}

.createTaskButton {
    position: absolute;
    font-size: 20px;
    width: 6vw;
    height: 4vh;
    top: 0;
    right: 0;
    margin-right: 0.1vw;
    margin-top: 0.1vh;
    background-color: #a0a0ff;
    color: white;
}

.createTaskButton:hover {
    background-color: #a0a0ff80;
}

.membersBox
{
    border-left:5px solid white;
    border-right:5px solid white;
    border-bottom:5px solid white;
    width:80vw;
    height:60vh;
    display:flex;
    flex-direction:column;
    gap:1vh;
    margin-left:auto;
    margin-right:auto;

}

.searchBox
{
    border-bottom:5px solid white;
    width:80vw;
    height:8vh;
    display:flex;
    align-content:center;
    justify-content:center;
    flex-direction:row;
    gap:1vw;
}

.search
{
    font-size:24px;
    height:4vh;
    width:18vw;
    margin-top:auto;
    margin-bottom:auto;

}

.inviteButton
{
    height:6vh;
    width:5vw;
    margin-top:auto;
    margin-bottom:auto;
    background-color:white;
    border:1px solid black;
    border-radius:1vh;
    font-weight:bold;
    font-size:19px;
}

.inviteButton:hover
{
    background-color:aqua;
}

.memberHeaderBox
{
    width:70vw;
    margin-left:auto;
    margin-right:auto;
}

.memberHeader
{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.membersListBox
{
    width:78vw;
    height:43vh;
    border:5px solid white;
    margin-left:auto;
    margin-right:auto;
    overflow-y: scroll;
    overflow-x: scroll;
}

.membersList {
    width: 75vw;
    height: 43vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-left:auto;
    margin-right:auto;
}

.membersList:first-child {
    margin-top: 1vh;
}

.membersList:last-child {
    margin-bottom: 3vh;
}

.membersListItem {
    color: white;
    font-size: 36px;
    width: 75vw;
    height: 8vh;
    padding: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.loginBox {
    width: 15vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.emailBox {
    width: 35vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.memberButton
{
    width:9vw;
    height:6vh;
    border:1px solid black;
    border-radius:1vh;
    background-color:white;
    font-size:18px;
    font-weight:bold;
    margin-top:auto;
    margin-bottom:auto;
}

.memberButton:hover
{
    background-color:aqua;
}

#taskListPopup{
    background: linear-gradient(black, #000040);
    position:absolute;
    top:30vh;
    right:25vw;
    width:50vw;
    height:45vh;
    display:flex;
    border: 1vh solid white;
    flex-direction:column;
    gap:1vh;
    visibility:collapse;
}

.taskListPair{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    width:45vw;
    height:10vh;
    display:flex;
    flex-direction:row;
    gap:5vw;
}

.taskListLabel{
    width:20vw;
    height:3vh;
    font-size:24px;
    color:white;
}

#title{
    background-color:transparent;
    color:white;
    font-size:24px;
    width:20vw;
    height:3vh;
    border: 0.5vh solid white;
}

#description {
    background-color: transparent;
    color: white;
    font-size: 24px;
    resize: none;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
}

.taskListButtons {
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#taskListCancelButton{
    width: 22.5vw;
    height: 10vh;
    background-color:#ffe0e0;
    border: 0.5vh solid #800000;
    color:#800000;
    font-size:24px;
}

#taskListCancelButton:hover{
    background-color:red;
    color:white;
}


#taskListConfirmButton {
    width: 22.5vw;
    height: 10vh;
    background-color: #e0ffe0;
    border: 0.5vh solid #008000;
    color: #008000;
    font-size: 24px;
}

#taskListConfirmButton:hover {
    background-color: lightgreen;
    color: white;
}


#taskListDeleteButton {
    background-color: #fff0f0;
    border: 0.5vh solid #800000;
    color: #800000;
    font-size: 24px;
    width: 45vw;
    height: 5vh;
    margin-left:auto;
    margin-right: auto;
}

#taskListDeleteButton:hover {
    background-color: red;
    color: white;
    
}


