@page
@using EFModeling.EntityProperties.DataAnnotations.Annotations;
@model AccountManagement
@{
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <title>Manage IT | Main</title>
            <link rel="icon" href=@Href("Graphics/logo.png") />
            <meta name="description" content="A convenient IT Project management tool for both managers and employees." />
            <meta name="keywords" content="management, IT, programming, project, www, programmer" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <meta name="author" content="Bosnian IT Management Inc." />
            <link rel="stylesheet" href="~/AccountManagement.css" type="text/css" />

            <!--Because Razor adds a scope identifier and a helper tag,
            body needs to be styled in the style tag as per
            https://github.com/dotnet/aspnetcore/issues/41580-->
            <style>
                body {
                    width: 100vw;
                    height: 100vh;
                    margin: 0px;
                    background: linear-gradient(#000000, #000040);
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            </style>

            <script>
                function openNav() {
                    document.getElementById("mySidebar").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                }

                function closeNav() {
                    document.getElementById("mySidebar").style.width = "0";
                    document.getElementById("main").style.marginLeft = "0";
                }

                function getWidth() {
                    if (self.innerWidth) {
                        return self.innerWidth;
                    }

                    if (document.documentElement && document.documentElement.clientWidth) {
                        return document.documentElement.clientWidth;
                    }

                    if (document.body) {
                        return document.body.clientWidth;
                    }
                }

                function getHeight() {
                    if (self.innerHeight) {
                        return self.innerHeight;
                    }

                    if (document.documentElement && document.documentElement.clientHeight) {
                        return document.documentElement.clientHeight;
                    }

                    if (document.body) {
                        return document.body.clientHeight;
                    }
                }

                function updateViewport() {
                    var width = getWidth();
                    var height = getHeight();

                    if (height < width) {
                        return;
                    }

                    var responsives = document.getElementsByClassName("responsive");
                    var containers = document.getElementsByClassName("container");
                    var buttonContainers = document.getElementsByClassName("buttons");

                    responsives.forEach(responsive => {
                        responsive.style.text - wrap = "wrap";
                    });

                    containers.forEach(container => {
                        container.style.flex - direction = "column";
                    });

                    buttons.forEach(container => {
                        container.style.flex - direction = "row";
                    });
                }

                setInterval(updateViewport, 0);
            </script>
        </head>

        <body>
            <header>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <div class="topnav">
                    <a class="active" href=@Href("~/")><i class="fa fa-fw fa-home"></i> Home</a>
                    <a href="#"><i class="fa fa-fw fa-download"></i> Downloads</a>
                    <a href="#"><i class="fa fa-fw fa-question"></i>About</a>
                    <div class="topnav-right">
                        <a class="active" href=@Href("~/")><i class="fa fa-fw fa-home"></i> Home</a>
                        <a href="#"><i class="fa fa-fw fa-download"></i> Downloads</a>
                        <a href="#"><i class="fa fa-fw fa-question"></i>About</a>
                        <div class="topnav-right">
                            @if (HttpContext.Session.Get<User>("User").Admin)
                            {
                                <a href=@Href("~/AdminPanel")><i class="fa fa-fw fa-cog"></i>Admin Panel</a>
                            }

                            <a href=@Href("~/AccountManagement")><i class="fa fa-fw fa-user-circle"></i>My Account</a>
                            <a href=@Href("~/Chat")><i class="fa fa-fw fa-commenting"></i>Chat</a>
                            <a href=@Href("~/Calendar")><i class="fa fa-fw fa-calendar"></i>Calendar</a>
                            <a href=@Href("~/LogOut")><i class="fa fa-fw fa-sign-out"></i>Log Out</a>
                        </div>
                    </div>
                </div>
            </header>

            <div class="main">
                <div class="account">
                    <form class="accountForm">
                        <div class="accountPair">
                            <label class="accountLabel">Username</label>
                            <input class="accountInput" type="text" id="username" placeholder="Username" />
                        </div>

                        <div class="accountPair">
                            <label class="accountLabel">Email</label>
                            <input class="accountInput" type="email" id="email" placeholder="Email" />
                        </div>

                        <div class="accountPair">
                            <label class="accountLabel">Password</label>
                            <input class="accountInput" type="password" id="password" placeholder="Password"/>
                        </div>
                        <div class="accountPair">
                            <label class="accountLabel">Confirm password</label>
                            <input class="accountInput" type="password" id="confirmPassword" placeholder="Confirm password"/>
                        </div>
                    </form>
                </div>
            </div>

            <footer>
                <div class="bottomnavbar">
                    <a href="#feedback">Feedback</a>
                    <a href="#ToS">Terms of Service</a>
                    <a href="#privacy-policy">Privacy policy</a>
                </div>
            </footer>
        </body>
    </html>
}
