@page
@using EFModeling.EntityProperties.DataAnnotations.Annotations;
@model IndexPage
@{
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <title>Manage IT | Main</title>
            <link rel="icon" href=@Href("Graphics/logo.png") />
            <meta name="description" content="A convenient IT Project management tool for both managers and employees." />
            <meta name="keywords" content="management, IT, programming, project, www, programmer" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <meta name="author" content="Bosnian IT Management Inc." />
            <link rel="stylesheet" href="~/Index.css" type="text/css"/>

            <!--Because Razor adds a scope identifier and a helper tag, 
            body needs to be styled in the style tag as per
            https://github.com/dotnet/aspnetcore/issues/41580-->
            <style>
                body {
                    width: 100vw;
                    height: 100vh;
                    margin: 0px;
                    background: linear-gradient(#000000, #000040);
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            </style>

            <script>
                function openNav() {
                  document.getElementById("mySidebar").style.width = "250px";
                  document.getElementById("main").style.marginLeft = "250px";
                }

                function closeNav() {
                  document.getElementById("mySidebar").style.width = "0";
                  document.getElementById("main").style.marginLeft= "0";
                }

                function getWidth() {
                    if (self.innerWidth) {
                        return self.innerWidth;
                    }

                    if (document.documentElement && document.documentElement.clientWidth) {
                        return document.documentElement.clientWidth;
                    }

                    if (document.body) {
                        return document.body.clientWidth;
                    }
                }

                function getHeight() {
                    if (self.innerHeight) {
                        return self.innerHeight;
                    }

                    if (document.documentElement && document.documentElement.clientHeight) {
                        return document.documentElement.clientHeight;
                    }

                    if (document.body) {
                        return document.body.clientHeight;
                    }
                }

                function updateViewport() {
                    var width = getWidth();
                    var height = getHeight();

                    if (height < width) {
                        return;
                    }

                    var responsives = document.getElementsByClassName("responsive");
                    var containers = document.getElementsByClassName("container");
                    var buttonContainers = document.getElementsByClassName("buttons");

                    responsives.forEach(responsive => {
                        responsive.style.text-wrap = "wrap";
                    });

                    containers.forEach(container => {
                        container.style.flex-direction = "column";
                    });

                    buttons.forEach(container => {
                        container.style.flex-direction = "row";
                    });
                }

                setInterval(updateViewport, 0);
            </script>
        </head>

        <body>
            <header>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <div class="topnav">
                    <a class="active" href=@Href("~/")><i class="fa fa-fw fa-home"></i> Home</a>
                    <div class="topnav-right">
                        <a href=@Href("~/RegisterForm")><i class="fa fa-fw fa-user"></i> Register</a>
                        <a href=@Href("~/LoginForm")><i class="fa fa-fw fa-user"></i>Log in</a>
                    </div>
                </div>
            </header>

            <div id="main">
            <h1 class="responsive">Welcome to Manage IT<br/>@Model.Header</h1>
                <div class="container">
                    <div class="buttons">
                            <a href=@Href("~/LoginForm") class="responsive" id="browserManageIT">Manage IT In Browser</a>
                            <a href=@Href("~/DownloadManageIT") class="responsive"  id="desktopManageIT">Manage IT On Desktop</a>
                            <script>
                                document.getElementById('desktopManageIT').addEventListener('click', function () {
                                const url = 'yourUrlToDownloadFile'; //placeholder
                                fetch(url)
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Sieć odpowiedziała błędem: ' + response.status);
                                    }
                                    return response.blob();
                                })
                                .then(blob => {
                                    const link = document.createElement('a');
                                    link.href = window.URL.createObjectURL(blob);
                                    link.download = 'ManageITSetup.exe'; // Opcjonalnie: zmień nazwę pliku
                                    document.body.appendChild(link);
                                    link.click();
                                    document.body.removeChild(link);
                                })
                                .catch(error => {
                                    console.error('Wystąpił problem z pobraniem pliku:', error);
                                });
                                });
                            </script>
                    </div>
                    <img src="Graphics/main.jpeg" id="image"/>
                </div>
            </div>
            <footer>
                <div class="bottomnavbar">
                    
                </div>
            </footer>
        </body>
    </html>
}

