@page
@model RecoverPassword
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-32" />
        <link rel="stylesheet" href="~/LoginForm.css" type="text/css" />

        <!--Because Razor adds a scope identifier and a helper tag,
        body needs to be styled in the style tag as per
        https://github.com/dotnet/aspnetcore/issues/41580-->
        <style>
            body {
                width: 100vw;
                height: 100vh;
                margin: 0px;
                background: linear-gradient(#000000, #000040);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        </style>
    </head>

    <body>
        <header>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div class="topnav">
                <a class="active" href=@Href("~/")><i class="fa fa-fw fa-home"></i> Home</a>
                <div class="topnav-right">
                    <a href=@Href("~/RegisterForm")><i class="fa fa-fw fa-user"></i> Register</a>
                    <a href=@Href("~/LoginForm")><i class="fa fa-fw fa-user"></i>Log in</a>
                </div>
            </div>
        </header>

        <form method="post">
            <div class="container">
                <div><label class="error">@Model.Error</label></div>
                <div><label class="title">Password Recovery</label></div>
                <div><label class="label">Password</label></div>
                <div><input type="password" name="password" /></div>
                <div><label class="label">Confirm password</label></div>
                <div><input type="password" name="confirmPassword" /></div>
                <div><input value="Change password" type="submit" id="button" /></div>
            </div>
        </form>

        <footer>
            <div class="bottomnavbar">
            </div>
        </footer>
    </body>
    </html>
}
